@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    font-size: 16px;
}

body {
    background: url(../images/background.png);
    color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh; /*Não conta com as tools bars de alguns navegadores, preenche apenas a parte visivel da pagina*/
}

.login {
    width: 100%;
    max-width: 330px;
    background-color: #212121;
    border-radius: 5px;
    padding: 20px;
}

.login > h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login__input {
    border: none;
    padding: 15px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #121212;
    color: #f2f2f2;
    outline: none;
    border-radius: 5px;
}

.login__input:focus {
    outline: 2px solid #f2f2f2;
}

.login__button {
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #ddd;
    cursor: pointer;
    color: #121212;
}

.login__button:hover {
    background-color: #fff;
    transition: 0.4s;
}

.message--notification {
    justify-self: center;
    align-self: center;    

}

.message--notificationDark {
    justify-self: center;
    align-self: center;
    color: black;
}

.chat {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.chat__messages {
    flex-grow: 1;
    padding: 30px 30px 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat__form {
    background-color: #191919;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat__input {
    border: none;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    background-color: #212121;
    outline: none;
    color: #f2f2f2;
    font-size: 1rem;
}

.chat__button {
    border: none;
    background: none;
    color: #f2f2f2;
    cursor: pointer;
}

.chat__button > span {
    font-size: 1.8rem;
}

.chat__messages > div {
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 22px;
}

.message--self {
    margin-bottom: 15px;
    color: #121212;
    border-radius: 10px 10px 0 10px;
    align-self: flex-end;
    background-color: #f2f2f2;
}

.message--selfDark {
    margin-bottom: 15px;
    color: #f2f2f2;
    border-radius: 10px 10px 0 10px;
    align-self: flex-end;
    background-color: #121212;
}

.message--other {
    margin-bottom: 15px;
    color: #f2f2f2;
    border-radius: 0 10px 10px 10px;
    align-self: flex-start;
    background-color: #333;
}

.message--sender {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    color: cadetblue;
}

.edit_button { 
    position: absolute;
    align-self: end;
    margin: 20px 20px 0px 0px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.edit_background { 
    position: absolute;
    height: 40%;
    width: 40%;
    background-color: #212121;
    align-self: center;
    justify-self: center;
    display: none;
    flex-direction: row;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.edit_background.show {
    display: flex;
    opacity: 1;
}

.divop {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionBg1 {
    margin-top: 10%;
    width: 75%;
    height: 75%;
    background-image: url("../images/background.png");
    background-size: 300px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.optionBg2 {
    margin-top: 10%;
    width: 75%;
    height: 75%;
    background-image: url("../images/pinkBg.jpg");
    background-size: 300px;
    border: none;
    border-radius: 5px;
}

.optionBg3 {
    margin-top: 10%;
    width: 75%;
    height: 75%;
    background-image: url("../images/catBg.jpg");
    background-size: 300px;
    border: none;
    border-radius: 5px;
}

.spanBg {
    position: absolute;
    margin-left: 2%;
    margin-top: 2%;
    font-weight: 600;
}

.edit_background > div > button {
    cursor: pointer;
}

.edit_background > div > button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}


/* Estilos existentes aqui */

/* Media Queries para Responsividade */
@media only screen and (max-width: 768px) {
    .edit_background {
        width: 80%;
        height: 40%;
    }

    .optionBg1, .optionBg2, .optionBg3 {
        width: 75%;
        height: 70%;
        margin-top: 25%;
        background-size: cover;
    }

    .spanBg {
        font-size: 0.9rem;
        margin-left: 5%;
        margin-top: 3%;
    }
}

@media only screen and (max-width: 480px) {
    .edit_background {
        width: 80%;
        height: 30%;
    }

    .optionBg1, .optionBg2, .optionBg3 {
        width: 75%;
        height: 70%;
        margin-top: 25%;
        background-size: cover;
    }

    .spanBg {
        font-size: 0.9rem;
        margin-left: 5%;
        margin-top: 3%;
    }
}
